.topnav{
    background-image: url("../img/bYKER\ bANNER\ 2.jpg");
    background-size: cover;
    padding: 25px;
    font-size: 24px;
    overflow: hidden;
    
}
.topnav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: black;
    font-weight: bold;
}
.topnav a:hover{
    color: black;
}
.topnav a.active{
    color: black;
}
.topnav .icon {
    display: none;
}
.Byke{
    position: sticky;
    left: 520px;
    padding-right: 15px;
    padding-top: 0%;
    text-emphasis:bold;
    font-weight: bolder;
    text-decoration: solid;
    align-content: center;
    text-shadow: 20px black;
    font-style: italic;
}
body{
    background-image: url("../img/backgrounds.jpg");
    background-size: cover;
    font-family: 'PT Sans', sans-serif;
}
.platforms{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    height: 1000px;
    width: 60%;
    position:absolute;
    margin-left: 243px;
}
.first{
    text-decoration: underline;
}
.second{
    text-decoration: underline;
}